  <div class="row">
    <div class="col-md-4">
      <%if current_user.nil?%>
        <div class="row">
          <div class="col-md-12"><br>
            <div><%= link_to "Register Yourself", new_user_registration_path, method: :get, class: "lm" %></div>
          </div>
        </div>
      <%end%>      
    </div>
    <div class="col-md-4">
      <h4>User Details:</h4>
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">User Name: </h5>
          <p class= "list-group-item-text"><%= @order.shipping_address.name %></p>
        </div>
      </div>
      <%if !@order.shipping_address.mobile.blank? %>
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Mobile: </h5>
            <p class= "list-group-item-text"><%= @order.shipping_address.mobile %></p>
          </div>
        </div>
      <%end%>
      <% if !@order.shipping_address.country.blank? %>
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Country Name: </h5>
            <p class= "list-group-item-text"><%= ISO3166::Country[@order.shipping_address.country].name %></p>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col-md-4">
      <h4>Order Details:</h4>
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">Book Image: </h5>
          <p class= "list-group-item-text"><%= image_tag "gogreen.png", alt: "", class: "img-responsive", size: "100x100" %></p>
        </div>
      </div>      
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">Name: </h5>
          <p class= "list-group-item-text">Downloadable Version</p>
        </div>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">Book Type:</h5>
          <p class= "list-group-item-text"><%= @order.token %></p>
        </div>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <h5 class="list-group-item-heading">Book Price:</h5>
          <p class= "list-group-item-text">$<%= @order.price %></p>
        </div>
      </div>      

      <h4>Email:</h4>
      <div class="list-group">
        <div class="list-group-item">
          <p class= "list-group-item-text"><%=!current_user.nil? ? current_user.email : @order.email %></p>
        </div>
      </div>
    </div>  
  </div>