<div class="row">
  <div class="col-md-12">
    <h2><%= I18n.t('order.your_order') %>:</h2>
    <h4><%= I18n.t('order.order_items') %>:</h4>
    <% @total_price = 0 %>
    <% @order.order_products.each do |order_product| %>
      <%= render partial: 'order_products', locals: { op: order_product }%>
    <% end %>
    <hr>
  </div>
  <div class="col-md-6">
    <% if @order.shipping_address %>
      <h4><%= I18n.t('order.address') %>:</h4>
      <%= render partial: 'address', locals: { address: @order.shipping_address } %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4>Email:</h4>
    <div class="list-group">
      <div class="list-group-item">
        <p class= "list-group-item-text"><%= @order.email %></p>
      </div>
    </div>

    <h4><%= I18n.t('order.totals') %>:</h4>
    <%= render partial: 'totals', locals: { order: @order } %>
  </div>
</div>