<section class="signin text-center topmar">
 <h1 class="innerheading">Make Payment</h1>
  <div class="downarrow">
    <a href="javascript:void(0)" class="down_arrow">
      <%= image_tag "down.png", alt: "" %>  
    </a>
  </div>
</section>
<div class="container">

  <%if !current_order.permalink.nil? %>
    <div class="row">
      <div class="col-md-12">
        <h2><%= I18n.t('order.your_order') %>:</h2>
        <h4><%= I18n.t('order.order_items') %>:</h4>
        <% @total_price = 0 %>
        <% current_order.order_products.each do |order_product| %>
          <%= render partial: 'order_products', locals: { op: order_product }%>
        <% end %>
        <div id="order-totals">
          <%= link_to products_path, class: "btn btn-warning", id: "continue-shopping" do %>
            <%= fa_icon 'shopping-cart', text: I18n.t('cart.shop')%>
          <% end %>
        </div>
        <hr>
      </div>
      <div class="col-md-4">
      <% if @shipping_count > 0 %>
        <%if !@order.shipping_address.nil?%>
          <% if shipping_charges_book_type_address(current_order) == false %>
            <h4><%= I18n.t('order.address') %>:</h4>
          <%else%>
            <h4><%= "Shipping Details" %>:</h4>
          <%end%>
          <%= render partial: 'address', locals: { address: @order.shipping_address } %>
         <% if shipping_charges_book_type_address(current_order) == false %>  
          <%= link_to 'Edit Address', edit_address_path(@order.shipping_address), class: 'btn btn-warning' %>
          <%else%>
            <%= link_to 'Edit Shipping Details', edit_address_path(@order.shipping_address), class: 'btn btn-warning' %>
          <%end%>
        <%end%>
      <% end %>
      </div>
      <div class="col-md-4">
        <h4><%= I18n.t('order.totals') %>:</h4>
        <%= render partial: 'totals', locals: { order: @order } %>
        <h4>Email:</h4>
        <div class="list-group">
          <div class="list-group-item">
            <p class= "list-group-item-text"><%=!current_user.nil? ? current_user.email : @order.email %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">    
        <h4><%= I18n.t('order.payment') %>:</h4>
        <div class="well paypal_div" id="paypal_div" > 
          Pay Amount<br>
          <%= form_tag({controller: "orders", action: "process_paypal", method: "post"}, class: "nifty_form", id: "nonce-form") do %>
            <input type="hidden" name="email" id="card_email" class="form-control"  readonly="true" value="<%= !current_user.nil? ? current_user.email : @order.email %>" >
            <input type="hidden" name="with_paypal" value=true>
            <%= submit_tag "Make Payment", class: "btn btn-warning" %>
          <%end%>
        </div>
      </div>
    </div>
  <%else%>
    <div class="row">
      <% if current_user.nil? %>
        <div class="col-md-4">
          <h4>User Details:</h4>
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">User Name: </h5>
              <p class= "list-group-item-text"><%= @order.shipping_address.name %></p>
            </div>
          </div>
          <%if !@order.shipping_address.mobile.blank? %>
            <div class="list-group">
              <div class="list-group-item">
                <h5 class="list-group-item-heading">Mobile: </h5>
                <p class= "list-group-item-text"><%= @order.shipping_address.mobile %></p>
              </div>
            </div>
          <%end%>
          <% if !@order.shipping_address.country.blank? %>
            <div class="list-group">
              <div class="list-group-item">
                <h5 class="list-group-item-heading">Country Name: </h5>
                <p class= "list-group-item-text"><%= ISO3166::Country[@order.shipping_address.country].name %></p>
              </div>
            </div>
          <%end%>        
        </div>
      <%end%>
      <div class="<%= current_user.nil? ? 'col-md-4' : 'col-md-6' %> ">
        <h4>Order Details:</h4>
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Book Image: </h5>
            <p class= "list-group-item-text"><%= image_tag "gogreen.png", alt: "", class: "img-responsive", size: "100x100" %></p>
          </div>
        </div>      
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Name: </h5>
            <p class= "list-group-item-text">Downloadable Version</p>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Book Type:</h5>
            <p class= "list-group-item-text"><%= @order.token %></p>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <h5 class="list-group-item-heading">Book Price:</h5>
            <p class= "list-group-item-text">$<%= @order.price %></p>
          </div>
        </div>      

        <h4>Email:</h4>
        <div class="list-group">
          <div class="list-group-item">
            <p class= "list-group-item-text"><%=!current_user.nil? ? current_user.email : @order.email %></p>
          </div>
        </div>
      </div>
      <div class="<%=  current_user.nil? ? 'col-md-4' : 'col-md-6' %>">  
        <h4><%= I18n.t('order.payment') %>:</h4>    
        <div class="well paypal_div" id="paypal_div" > 
          Pay Amount<br>
          <%= form_tag({controller: "orders", action: "process_paypal", method: "post"}, class: "nifty_form", id: "nonce-form") do %>
            <input type="hidden" name="email" id="card_email" class="form-control"  readonly="true" value="<%= !current_user.nil? ? current_user.email : @order.email %>" >
            <input type="hidden" name="with_paypal" value=true>
            <%= submit_tag "Make Payment", class: "btn btn-warning" %>
          <%end%>
        </div>
      </div>    
    </div>
  <%end%>
</div>