<section class="contactimg text-center">
 <h1 class="innerheading" >COMPLETE ORDER</h1>
  <div class="downarrow">
    <a href="javascript:void(0)" class="down_arrow">
      <%= image_tag "down.png", alt: "" %>  
    </a>
  </div>
</section>

<div class="container">
  <%if @permalink.nil? %>
    <%= render partial: 'donation_complete' %>
  <%else%>
    <%= render partial: 'selling_complete' %>
  <%end%>
</div>